ul.room-list {
  padding: 0;
  margin: 0 15px;
  border: 2px solid #222222;
}

li.room-list-element {
  padding: 4px 15px;
  list-style: none;
  background-color: #55555555;

}

li.room-list-element.odd {
  background-color: #99000055;

}

li.room-list-element:hover {
  cursor: pointer;
  background-color: #55555530;
}

li.room-list-element.odd:hover {
  background-color: #99000030;
}